/ProjetJavaEventMANAGER/nbproject/private/
/ProjetJavaEventMANAGER/build/
/ProjetJavaEventMANAGER/dist/
/ProjetEventLast/nbproject/private/
/ProjetEventLast/build/
/ProjetEventLast/dist/
/ProjetEventLast/nbproject/project.properties/
